version: 2

updates:
  - package-ecosystem: npm
    directory: '/src'
    schedule:
      interval: daily
    target-branch: dev

  - package-ecosystem: docker
    directory: '/src'
    schedule:
      interval: daily
    target-branch: dev
    ignore:
      - dependency-name: node
        update-types: ['version-update:semver-major'] # Stay within major version

  - package-ecosystem: github-actions
    directory: '/' # Check files in .github/workflows
    schedule:
      interval: daily
    target-branch: dev

  - package-ecosystem: terraform
    directory: '/terraform-iac/dev/app'
    schedule:
      interval: daily
    target-branch: dev

  - package-ecosystem: terraform
    directory: '/terraform-iac/dev/setup'
    schedule:
      interval: daily
    target-branch: dev

#  - package-ecosystem: terraform
#    directory: '/terraform-iac/modules/app'
#    schedule:
#      interval: daily
#    target-branch: dev
#
#  - package-ecosystem: terraform
#    directory: '/terraform-iac/modules/setup'
#    schedule:
#      interval: daily
#    target-branch: dev

# For each of these, requesting reviews from your team makes Dependabot PRs easier to find (https://github.com/pulls/review-requested)
#   reviewers:
#     - byu-oit/your-github-team
