name: CI/CD Pipeline

on:
  push:
    branches: [ master, dev ]
env:
  tf_version: '0.12.26'

jobs:

  build_and_deploy:
    name: Build and Deploy Fargate API
    runs-on: ubuntu-latest
    steps:

    - name: Set up DEV Environment Variables
      if: github.ref == 'refs/heads/dev'
      run: |
        echo "::set-env name=aws_key::${{ secrets.byu_oit_terraform_dev_key }}"
        echo "::set-env name=aws_secret::${{ secrets.byu_oit_terraform_dev_secret }}"
        echo "::set-env name=ecr_repo_name::hello-world-api-dev"
        echo "::set-env name=tf_working_dir::./terraform-iac/dev/app"
        echo "::set-env name=rfc_client_key::${{ secrets.standard_change_sandbox_client_key }}"
        echo "::set-env name=rfc_client_secret::${{ secrets.standard_change_sandbox_client_secret }}"
        echo "::set-env name=rfc_template_id::Codepipeline-Standard-Change"
        echo "::set-env name=slack_channel::C0AGQEZMF" #slack-bot-testing

    - name: Set up PRD Environment Variables
      if: github.ref == 'refs/heads/master'
      run: |
        echo "::set-env name=aws_key::${{ secrets.byu_oit_terraform_prd_key }}"
        echo "::set-env name=aws_secret::${{ secrets.byu_oit_terraform_prd_secret }}"
        echo "::set-env name=ecr_repo_name::hello-world-api-prd"
        echo "::set-env name=tf_working_dir::./terraform-iac/prd/app"
        echo "::set-env name=rfc_client_key::${{ secrets.standard_change_production_client_key }}"
        echo "::set-env name=rfc_client_secret::${{ secrets.standard_change_production_client_secret }}"
        echo "::set-env name=rfc_template_id::Codepipeline-Standard-Change"
        echo "::set-env name=slack_channel::C0AGQEZMF" #slack-bot-testing

    - name: Check out
      uses: actions/checkout@v2

    - name: Disallow Concurrent Runs
      uses: byu-oit/github-action-disallow-concurrent-runs@v1
      with:
        token: ${{ github.token }}

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ env.aws_key }}
        aws-secret-access-key: ${{ env.aws_secret }}
        aws-region: us-west-2

    - name: Log into Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1

    - name: Get Current Timestamp
      id: date
      run: echo "::set-output name=timestamp::$(date +'%Y-%m-%d_%H-%M-%S')"

    - name: Build and Push the Docker image
      env:
        ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        ECR_REPO: ${{ env.ecr_repo_name }}
        IMAGE_TAG: ${{ steps.date.outputs.timestamp }}
      run: |
        docker build src --file src/Dockerfile --tag $ECR_REGISTRY/$ECR_REPO:$IMAGE_TAG
        docker push $ECR_REGISTRY/$ECR_REPO:$IMAGE_TAG

    - name: Build Test Lambda
      working-directory: tst/codedeploy-hooks/after-allow-test-traffic
      run: |
        npm install --production
        cp -R ../../../.postman .
        zip -r lambda.zip * .postman

    - name: Terraform Setup
      uses: hashicorp/setup-terraform@v1
      with:
        terraform_version: ${{ env.tf_version }}

    - name: Terraform Init
      working-directory: ${{ env.tf_working_dir }}
      run: terraform init

    - name: Terraform Plan
      working-directory: ${{ env.tf_working_dir }}
      run: terraform plan -var 'image_tag=${{ steps.date.outputs.timestamp }}' -out=plan -input=false

    - name: Start Standard Change
      uses: byu-oit/github-action-start-standard-change@v1
      id: start-standard-change
      with:
        client-key: ${{ env.rfc_client_key }}
        client-secret: ${{ env.rfc_client_secret }}
        template-id: ${{ env.rfc_template_id }}

    - name: Terraform Apply
      working-directory: ${{ env.tf_working_dir }}
      run: terraform apply plan

    - name: Get CD App Name
      id: cd-app-name
      working-directory: ${{ env.tf_working_dir }}
      run: terraform output codedeploy_app_name

    - name: Get CD Deployment Group Name
      id: cd-group-name
      working-directory: ${{ env.tf_working_dir }}
      run: terraform output codedeploy_deployment_group_name

    - name: Get CD Appspec File
      id: cd-appspec-file
      working-directory: ${{ env.tf_working_dir }}
      run: terraform output codedeploy_appspec_json_file

    - name: CodeDeploy
      id: deploy
      uses: byu-oit/github-action-codedeploy@v1
      with:
        application-name: ${{ steps.cd-app-name.outputs.stdout }}
        deployment-group-name: ${{ steps.cd-group-name.outputs.stdout }}
        appspec-file: ${{ steps.cd-appspec-file.outputs.stdout }}

    - name: End Standard Change
      uses: byu-oit/github-action-end-standard-change@v1
      if: always() && steps.start-standard-change.outcome == 'success' # Run if RFC started, even if the deploy failed
      with:
        client-key: ${{ env.rfc_client_key }}
        client-secret: ${{ env.rfc_client_secret }}
        change-sys-id: ${{ steps.start-standard-change.outputs.change-sys-id }}
        work-start: ${{ steps.start-standard-change.outputs.work-start }}
        success: ${{ steps.deploy.outcome == 'success' }}

    - name: Send Slack Notification
      uses: byu-oit/github-action-slack@v1
      if: always()
      with:
        status: ${{ job.status }}
        channel: ${{ env.slack_channel }}
        webhook-url: ${{ secrets.slack_webhook_url }}
